!!!5
|<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
|<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8">        <![endif]-->
|<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9">               <![endif]-->
|<!--[if gt IE 8]><!--> <html lang="en" class="no-js">                  <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')

  block title
    title

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
  block css
    - if (dev)
      link(rel='stylesheet', href='/components/normalize-css/normalize.css')
    - else
      link(rel='stylesheet', href='/styles/vendor/normalize.css')

  block top-script
    - if (dev)
      script(src='/components/modernizr/modernizr.js')
      script(src='/components/respond/respond.min.js')
    - else
      script(src='/scripts/vendor/modernizr.js')
      script(src='/scripts/vendor/respond.js')

body
  //-
    Add your site or application content here
  block main
    //if lt IE 7
      div.chromeframe
        :markdown
          You are using an **outdated** browser. Please [upgrade your browser](http://browsehappy.com/) or [activate Google Chrome Frame](http://www.google.com/chromeframe/?redirect=true) to improve your experience.

  block bottom-script
    //
      TODO : Google Analytics: change UA-XXXXX-X to be your site\'s ID.
      script.
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    - if (dev)
      script(src='http://localhost:35729/livereload.js')
