extends layout

block title
  title Just a Normal Page

block append css
  <!-- build:css(.tmp) styles/normal.css -->
  <link rel="stylesheet" href="styles/normal.css">
  <!-- endbuild -->

block append top-script


block prepend main
  .container
    include includes/header

    .content

    include includes/footer

block append bottom-script
