// `html` is needed for specificity over normalize.css
// http://coding.smashingmagazine.com/2007/07/27/css-specificity-things-you-should-know/
html * {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

// flexible images/media
img, embed, object, video {
  max-width: 100%;
}
