header {
  @include clearfix;

  h1, nav {
    float: left;
  }

  nav ul {
    list-style: none;

    li {
      float: left;
      margin-right: 20px;
    }

    li.last {
      margin-right: 0;
    }
  }
}
