header {
  margin: 20px 0;

  h1, nav {
    margin: 0 auto;
  }

  h1 a {
    display: block;
    height: 100%;
    width: 100%;
  }

  nav ul {
    text-align: center;
    list-style: none;

    @include inline-block-list(10px)
  }
}
